- if @user.errors.any?
  .user_errors
    .alert-box.warning{ data: {alert: true} }
      Contains #{ pluralize(@user.errors.count, "error") }
      %ul
      - @user.errors.full_messages.each do |msg|
        %li= msg
